<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
    <h1>This file is generated using EJS.</h1>
    <p>
        <%- animal %>
        <br>
        <% for(let i = 0; i < 10; i ++) { %>
               <button>Das ist ein button</button> 
        <% } %>
        
    </p>
</body>
</html>